#global-spinner {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50px;
	height: 50px;
	background: rgba(0, 0, 0, 0.8);
	margin-left: -25px;
	color: #fff;
	z-index: 100;
	border-radius: 5px;
	text-align: center;
	padding-top: 10px;
	.fa {
		font-size: 30px;
		.fa-spinner {
		}
	}
}

.loading {
	#global-spinner {
		display: block;
	}
}


table .fa {
	&.fa-spinner {
		visibility: hidden;
		&.loading {
			visibility: visible;
		}
	}
}


&.fa-check {
	color: @brand-success;
}
&.fa-times {
	color: @brand-danger;
}


a {
	color: #025DA6;
}

.form-control {

}

.single-order-toolbar {
	font-size: 18px;
	margin-top: 24px;
	margin-bottom: 10px;
}

h1 {
	padding-bottom: 30px;
}

.topbar-actions {

}


#topbar-single-order {
	margin-bottom: 20px;
}
#global-settings-order-actions {
	.btn {
		margin-left: 5px;
	}
}

#global-settings-order-header {
	border-bottom: 1px solid #ccc;
}


.top-space-30 {
	margin-top: 30px;
}

.filter-folders {
	.nav li {
		&.active {
			background-color: @gray-lighter;
		}
	}
}

#media-type-filter {
	margin-top: 7px;
}




#feedback {
	background-color: @gray-lighter;
	#new-message {
		background-color: @gray-lighter;
		padding: 10px; 
		padding-bottom: 45px;
	
		display:none;
		&.visible {
			display: block;
		}
		form {
			padding-top: 30px;
		}
	}
	#new-note {
		background-color: @gray-lighter;
		padding: 10px; 
		padding-bottom: 45px;

		display: none;
		&.visible {
			display: block;
		}
		form {
			padding-top: 30px;
		}
	}
}


#correspondense {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}


.history-header {
	.fa {
		margin-right:10px;
	}
}

.history-body {
	margin-top: 10px;
	p {
		white-space: pre-line;
	}

}

table td {
	 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
     hyphens: auto;
}

table {
	margin-bottom: 70px !important;
	th {
		&.ordernumber {
			min-width: 180px;
		}
	}

	td {
		&.ordertype {
			white-space: nowrap;
		}
	}

}
