	<div id="barcode">
	  <div class="panel panel-default">
	    <div class="panel-body">
	    <form>
	    <div class="form-group">
	      <h1>Scanna streckkod</h1>
	      <label for="identification" class="sr-only">Ordernummer</label>
	      {{input id="input-barcode" classBinding=":form-control :input-lg :inputfield" placeholder='Scanna streckkod'}}
	    </div>
	    <button id="close" class="btn btn-lg btn-danger">Stäng</button>
	    <button id="submit" class="btn btn-lg btn-primary" type="submit">Skicka</button>
	  </div>
	  </form>
	  </div>
	</div>
	</div>