<!--<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-10">
				<div class="brand">
					<div class="logo hidden-xs">
						{{#link-to 'index'}}
							<img src="http://medarbetarportalen.gu.se/digitalAssets/1498/1498145_ny_logo_sv_high.png" alt="">
						{{/link-to}}
					</div>
					<div class="headers">
						{{#link-to 'index' class="level1"}}
							Göteborgs Universitetsbibliotek
						{{/link-to}}
						<div class="level2">Fjärrkontrollen</div>
					</div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="user-auth">
					{{#if session.isAuthenticated}}
				      	<p class="pull-right">{{session.name}} (<small><a href="javascript:void(0)" {{action 'invalidateSession'}}>Logga ut</a></small>)</p>
				    {{else}}
						<p class="pull-right">{{link-to "Logga in" 'login'}}</p>
				     {{/if}}
			     </div>
			</div>
		</div>
	</div>



</header>
-->
