
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li>
          {{#link-to 'fjarr-in'}}Fjärr in          
          {{/link-to}}
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" {{action 'triggerModal'}}><i class="fa fa-barcode"></i> Scanna Streckkod </a>
        </li>
      </ul>

        

    </div><!-- /.container -->    
  </nav>

