<div class="container">
	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
	    <div class="input-group">

	      <input type="search" class="form-control" placeholder="Sök efter...">
	      <span class="input-group-btn">
	        <button class="btn btn-primary form-control" {{action 'search'}} type="button">Sök</button>
	      </span>
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
</div>